// main: ../main.scss

/*
  COLORS
*/


$black: #000000;
$white: #ffffff;
$grey-1: #f9f9f9;
$grey-2: #e8e8e8;
$grey-3: #999999;
$grey-4: #262626;
$grey-5: #080910;
$grey-6: #404040;


$primary-1: #22979E;
$primary-1-1: #01767D;
$text-radar: #38FFD0;

$alert-1: #FF0200;

//JAPAN
$japan-color-1: #F2F2F2;
$japan-color-2: #BEBEBE;
$japan-color-3: #961227;

//GERMANY
$germany-color-1: #EAF6E0;
$germany-color-2: #797F74;
$germany-color-3: #3D403A;

//USA
$usa-color-1: #B9EDF8;
$usa-color-2: #39BAE8;
$usa-color-3: #1F6ED4;

//URSS
$urss-color-1: #F2F2F2;
$urss-color-2: #D8CE5D;
$urss-color-3: #E82C0C;
