// main: ../main.scss

/*
  CUSTOM TEMPLATE
*/
html,body{
  height: 100%;
}

.wrapper {
  height: 100%;
  background-color: #ffffff;
  /*background-image: url("../img/bg/background2.jpg");
  background-size: cover;*/
  padding-top: 20px;
}

.g-board {
  background-color: #ffffff;
  border: 2px solid #f1f1f1;
  text-align: center;
  padding: 10px 0;
  &.ImperialJapaneseNavy {
    border: 2px solid yellow;
  }
  &.ImperialGermanNavy {
    border: 2px solid black;
  }
  &.UnitedStatesNavy {
    border: 2px solid blue;
  }
  &.SovietNavy {
    border: 2px solid red;
  }
  header {
    margin-bottom: 10px;
    .h2 {
      min-height: 35px;
      margin: 0;
    }
    & > div {
      min-height: 35px;
    }
  }
  .b-board {
    margin-bottom: 10px;
  }
  .b-option {
    margin-bottom: 10px;
  }
}
