// main: ../../main.scss

/*
  BLOCK BOARD GAME
*/



.b-board {
  width: 260px;
  margin: 0 auto 20px auto;
  height: auto;
  position: relative;
  border: 5px solid $grey-2;
  .p-stat {
    position: absolute;
    top: -20px;
    font-size: 12px;
    &.score {
      left: 0;
    }
    &.direction {
      left: 0;
      right: 0;
      span {
        background-color: $alert-1;
        color: $white;
        padding: 0px 5px;
        border-radius: 2px 2px 0 0;
      }
    }
    &.time-remaining {
      right: 0;
    }
  }

  .board-disabled {
    display: block;
    background-color: rgba(0,0,0,0.3);
    height: 100%;
    width: 100%;
    position: absolute;
    p {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &.enabled {
    .board-disabled {
      display: none;
    }
  }
  .board-row {
    .board-col {
      width: 25px;
      height: 25px;
      display: inline-block;
      margin-bottom: -5px;
      background-color: $primary-1;
      box-shadow: inset 1px 1px 0 rgba(255,255,255,0.3);
      cursor: pointer;
    }
  }
  &#human {
    .board-row {
      .board-col {
        &.target {
          background-color: $primary-1-1;
        }
        &.two-cell-ship {
          background-color: blue;
          &.target {
            &.touched {
              background-color: $alert-1;
            }
          }
        }
        &.three-cell-ship {
          background-color: yellow;
          &.target {
            &.touched {
              background-color: $alert-1;
            }
          }
        }
        &:hover {
          background-color: rgba(140,0,20,0.3);
          /*& + div {
            background-color: rgba(140,0,20,0.3);
          }*/
        }
      }
    }
  }
  &#computer {
    .board-row {
      .board-col {
        &.target {
          background-color: #01767D;
        }
        &.two-cell-ship {
          background-color: blue;
          &.target {
            &.touched {
              background-color: $alert-1;
            }
          }
        }
        &.three-cell-ship {
          background-color: yellow;
          &.target {
            &.touched {
              background-color: $alert-1;
            }
          }
        }
        &:hover {
          background-color: rgba(140,0,20,0.3);
        }
      }
    }
  }
}
