// main: ../../main.scss

/*
  BLOCK BOARD GAME
*/



.b-board {
  width: 250px;
  margin: 0 auto;
  height: auto;
  position: relative;
  /*.r-0 {
    .c-0 {
      position: relative;
      &:after {
        content: "A";
        position: absolute;
      }
    }
  }*/
  .p-stat {
    position: absolute;
    top: -20px;
    font-size: 12px;
    &.score {
      left: 0;
    }
    &.time-remaining {
      right: 0;
    }
  }

  .board-disabled {
    display: block;
    background-color: rgba(0,0,0,0.3);
    height: 100%;
    width: 100%;
    position: absolute;
    p {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &.enabled {
    .board-disabled {
      display: none;
    }
  }
  .board-row {
    .board-col {
      width: 25px;
      height: 25px;
      display: inline-block;
      margin-bottom: -5px;
      background-color: #22979E;
      box-shadow: inset 1px 1px 0 rgba(255,255,255,0.3);
    }
  }
  &#human {
    .board-row {
      .board-col {
        &.target {
          background-color: #01767D;
        }
        &.two-cell-ship {
          background-color: blue;
          &.target {
            &.touched {
              background-color: red;
            }
          }
        }
        &.three-cell-ship {
          background-color: yellow;
          &.target {
            &.touched {
              background-color: red;
            }
          }
        }
        &:hover {
          background-color: rgba(140,0,20,0.3);
          /*& + div {
            background-color: rgba(140,0,20,0.3);
          }*/
        }
      }
    }
  }
  &#computer {
    .board-row {
      .board-col {
        &.target {
          background-color: #01767D;
        }
        &.two-cell-ship {
          background-color: blue;
          &.target {
            &.touched {
              background-color: red;
            }
          }
        }
        &.three-cell-ship {
          background-color: yellow;
          &.target {
            &.touched {
              background-color: red;
            }
          }
        }
        &:hover {
          background-color: rgba(140,0,20,0.3);
        }
      }
    }
  }
}
