// main: ../../main.scss

/*
  BLOCK OPTION
*/

.b-option {
  width: 250px;
  margin: 0 auto;
  height: auto;
  .ships {
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style-type: none;
        position: relative;
        .btn-ship {
          touch-action: manipulation;
          border: 1px solid transparent;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          background-size: cover;
          background-repeat: no-repeat;
          background-color: transparent;
          margin: 0;
          padding: 0;
          path {
            fill: #000000;
          }
          &[disabled="disabled"] {
            path {
              fill: grey;
            }
          }
        }
        small {
          position: absolute;
          top: 0;
          right: 0;
          display: none;
        }
        &.current {
          
        }
      }
    }
  }
}
