// main: ../../main.scss

/*
  BLOCK INFORMATION PANEL
*/

.b-panel {
  height: 260px;
  width: 260px;
  margin: 0 auto 20px auto;
  border-radius: 50%;

  background-size: cover;
  background-position: 50% 0;
  box-shadow: inset 10px 0px 30px rgba(0,0,0,0.4);
  border: 5px solid $grey-2;
  &[data-class=sea] {
    background-image: url(../img/gif/sea-1.gif);
  }
  &[data-class=shot] {
    background-image: url(../img/gif/shot-3.gif);
  }
  &[data-class=touch] {
    background-image: url(../img/gif/touch-1.gif);
  }
  &[data-class=sunken] {
    background-image: url(../img/gif/sunken-4.gif);
  }
  &[data-class=win] {
    background-image: url(../img/gif/win-1.gif);
  }
  &[data-class=defeat] {
    background-image: url(../img/gif/defeat-1.gif);
  }
}
