// main: ../../main.scss

/*
  BLOCK REPORT
*/

.b-report {
  width: 250px;
  margin: 0 auto;
  height: auto;
  .news {
    height: 150px;
    background-color: #ffffff;
    overflow-y: scroll;
  }
  .info {

  }
}
